@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Kantumruy Pro", sans-serif !important;
}

.text-bold{
  font-weight: 600;
}

.gap-2{
  gap: 0.5rem;
}

.text-indent {
  text-indent: 1.5rem;
  text-align: justify;
}
